.floating-header {

    position: absolute;

    top: 0;
    right: 0;

    width: 300px;
    height: 68px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 0 18px;

    background: #090f18;

    border-bottom: 1px solid var(--border);

    z-index: 1000;
}

.floating-actions{

    position:absolute;

    top:0;
    right:0;

    width:300px;
    height:68px;

    display:flex;

    justify-content:flex-end;

    align-items:center;

    gap:35px;

    padding:0 5px;

    background:#090f18;

    border-bottom:1px solid var(--border);

    z-index:1000;
}

.icon-button {

    width: 32px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: transparent;

    border: none;
    border-radius: 8px;

    color: #8c95a5;

    cursor: pointer;

    transition: .2s;
}

.icon-button:hover {

    background: #151c28;

    color: #ffffff;
}

.icon-button svg {

    width: 16px;
    height: 16px;
}

.profile-container {

    position: relative;
}

.topbar-profile {

    display: flex;

    align-items: center;
    border-radius: 15px;
    background:#151c28;

    gap: 5px;
    cursor: pointer;

    transition: .2s;
}
.topbar-profile:hover{

    background:#151c28;
}

.profile-avatar {

    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    background: #2d3550;

    border: 1px solid #3b4458;

    color: #ffffff;

    font-size: 11px;
    font-weight: 600;
    margin-right: 5px;
}

.profile-name {

    color: #ffffff;

    font-size: 11px;
    font-weight: 550;
    margin-right: 15px;

    white-space: nowrap;
}